p, h2, h3 {
    color: #555;
  }

h1 {
    color: blue;
  }

li {
    color: #333;
}

.punainen {
    color: red
}
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
  }
h2 {
    margin-top: 1em;
    padding-top: 1em;
  }
